@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@variant dark (&:where(.dark, .dark *));
:root{
  background-color: #eceef3;
}